@model BookingRoomHotel.Models.CauHoi

@{
    ViewData["Title"] = "Details";
}
<div class="mt-5">
    <div>
        <h4>Question</h4>
        <hr />
        <dl>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.HoTen)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.HoTen)
            </dd>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.ChuDe)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.ChuDe)
            </dd>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.NoiDung)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.NoiDung)
            </dd>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.PhanHoi)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.PhanHoi)
            </dd>
            <dt class="col-sm-2 mb-2">
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>
            <dd class="col-sm-10 mb-2">
                @Html.DisplayFor(model => model.TrangThai)
            </dd>
        </dl>
    </div>
    <div>
        <a onclick="sendJwt('/Questions/Edit/', '@Model.MaCauHoi')" class="btn btn-primary">Edit</a> |
        <a onclick="return sendJwt('/Questions/Index','')" class="btn btn-primary">Back to List</a>
    </div>

</div>
