@model LoaiPhongPhongTrangThaiPhong
@inject IHttpContextAccessor accessor


<div class="container my-4">

    @if (Model.error == false)
    {
        <div class="alert alert-danger text-center" role="alert">
            Bạn chưa nhập đủ thông tin
        </div>
    }

    <div class="row">
        <!-- Sidebar Filter -->
        <div class="col-md-3 mb-4">
            <form asp-action="Index" method="get" class="border p-3 rounded">

                <div class="mb-2">
                    <label class="form-label">Ngày đến</label>
                    <input type="date" name="ngayden" class="form-control"
                           value="@Context.Request.Query["ngayden"]" />
                </div>

                <div class="mb-2">
                    <label class="form-label">Ngày đi</label>
                    <input type="date" name="ngaydi" class="form-control"
                           value="@Context.Request.Query["ngaydi"]" />
                </div>

                <div class="mb-2">
                    <label class="form-label">Khách sạn</label>
                    <select name="khachsan" class="form-select">
                        <option value="">Tất cả</option>
                        @foreach (var ks in Model.khachSans)
                        {
                            <option value="@ks.MaKhachSan"
                                    selected="@(Context.Request.Query["khachsan"] == ks.MaKhachSan)">
                                @ks.TenKhachSan
                            </option>
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Loại phòng</label>
                    <select name="loaiphong" class="form-select">
                        <option value="">Tất cả</option>
                        @foreach (var lp in Model.loaiphongs)
                        {
                            <option value="@lp.MaLoaiPhong"
                                    selected="@(Context.Request.Query["loaiphong"] == lp.MaLoaiPhong)">
                                @lp.TenLoaiPhong
                            </option>
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary w-100">Lọc</button>
            </form>
        </div>

        <div class="col-md-9">
            <div class="row g-4">
                @foreach (var phong in Model.phongs)
                {
                    <div class="col-md-4">
                        <div class="card h-100 shadow-sm">
                            <img src="@phong.Anh" alt="@phong.TenPhong">

                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">@phong.TenPhong</h5>
                                <p class="card-text">@phong.MaLoaiPhongNavigation.TenLoaiPhong - @String.Format("{0:N0}", phong.Gia)</p>

                                <a class="btn btn-info w-100 mb-3"
                                   asp-controller="Room"
                                   asp-action="ChiTietPhong"
                                   asp-route-maphong="@phong.MaPhong">
                                    Xem chi tiết
                                </a>
                                <button class="btn btn-primary w-100 mb-2" data-bs-toggle="modal" data-bs-target="#@phong.MaPhong">
                                    Đặt phòng
                                </button>
                                <div class="mt-auto">
                                    @{
                                        var userName = accessor.HttpContext.Session.GetString("UserName");
                                        var isAdminOrNV = accessor.HttpContext.Session.GetString("admin") != null
                                        || accessor.HttpContext.Session.GetString("nhanvien") != null;
                                    }
@* 
                                    @if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT1")
                                    {
                                        
                                    }
                                    else if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT2")
                                    {
                                        if (isAdminOrNV)
                                        {
                                            <a class="btn btn-success w-100 mb-2" asp-controller="Room" asp-action="thanhToan" asp-route-maphong="@phong.MaPhong">Thanh toán</a>
                                        }
                                        else if (userName != null)
                                        {
                                            <button class="btn btn-secondary w-100 mb-2" disabled>Đang thuê</button>
                                        }
                                    }
                                    else if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT3")
                                    {
                                        if (userName != null && isAdminOrNV)
                                        {
                                            <button type="button" class="btn btn-warning w-100 mb-2" data-bs-toggle="modal" data-bs-target="#@phong.MaPhong">Xác nhận</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-secondary w-100 mb-2" disabled>Đã đặt trước</button>
                                        }
                                    } *@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="@phong.MaPhong" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content shadow-lg border-0">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title">@phong.TenPhong - @phong.MaLoaiPhongNavigation.TenLoaiPhong</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form method="post" class="row g-4" asp-controller="Room" asp-action="datPhongVaDichVu" onsubmit="return validateDate()">
                                        <input type="hidden" name="maphong" value="@phong.MaPhong" />
                                        <input type="hidden" name="tongTien" id="tongTien" />
                                        <!-- Hidden inputs cho dịch vụ -->
                                        <input type="hidden" name="selectedServiceIds" />
                                        <input type="hidden" name="selectedQuantities" />
                                        <input type="hidden" name="servicePrice" />

                                        <!-- Customer Info -->
                                        <div class="col-md-6">
                                            <div class="card shadow-sm border-0 h-100">
                                                <div class="card-header bg-secondary text-white">Thông tin khách hàng</div>
                                                <div class="card-body">
                                                    @if (userName != null)
                                                    {
                                                        <input type="hidden" name="hoten" value="@Model.Person.HoTen" />
                                                        <input type="text" class="form-control mb-3" value="@Model.Person.HoTen" disabled />

                                                        <input type="hidden" name="tuoi" value="@Model.Person.Tuoi" />
                                                        <input type="number" class="form-control mb-3" value="@Model.Person.Tuoi" disabled />

                                                        <input type="hidden" name="gioitinh" value="@Model.Person.GioiTinh" />
                                                        <select class="form-select mb-3" disabled>
                                                            <option value="0" selected="@Equals(Model.Person.GioiTinh, 0)">Nam</option>
                                                            <option value="1" selected="@Equals(Model.Person.GioiTinh, 1)">Nữ</option>
                                                        </select>

                                                        <input type="hidden" name="cccd" value="@Model.Person.PersonId" />
                                                        <input type="text" class="form-control mb-3" value="@Model.Person.PersonId" disabled />

                                                        <input type="hidden" name="sdt" value="@Model.Person.Sdt" />
                                                        <input type="text" class="form-control mb-3" value="@Model.Person.Sdt" disabled />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control mb-3" name="hoten" placeholder="Họ và tên" />
                                                        <input class="form-control mb-3" type="number" name="tuoi" placeholder="Tuổi" />
                                                        <select class="form-select mb-3" name="gioitinh">
                                                            <option value="0">Nam</option>
                                                            <option value="1">Nữ</option>
                                                        </select>
                                                        <input class="form-control mb-3" name="cccd" placeholder="CCCD" />
                                                        <input class="form-control mb-3" name="sdt" placeholder="SĐT" />
                                                    }
                                                    <input class="form-control mb-3" type="date" name="ngayden" placeholder="Ngày đến"/>
                                                    <input class="form-control mb-3" type="date" name="ngaydi" placeholder="Ngày đi" />
                                                    <select class="form-control mt-3 form-select" name="trangThaiThanhToan" id="trangThaiThanhToan">
                                                        <option value="1">Thanh toán trước</option>
                                                        <option value="0">Thanh toán khi nhận phòng</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer mt-3">
                                            <button type="submit" class="btn btn-primary btn-lg">
                                                Đặt phòng
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Đóng</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            </div>
        </div>
    </div>

</div>

<script>
    function updateTotal(element) {
        var form = element.closest('form');
        var totalDichVu = 0;
        var rows = form.querySelectorAll("tbody tr");

        rows.forEach(function(row){
            var checkbox = row.querySelector(".checkbox");
            var quantityInput = row.querySelector(".quantity");
            var totalCell = row.querySelector(".total");
            var gia = parseFloat(checkbox?.getAttribute("data-gia") || 0);
            var quantity = parseInt(quantityInput?.value || 0);

            if(checkbox.checked){
                var rowTotal = gia * quantity;
                totalDichVu += rowTotal;
                totalCell.textContent = rowTotal.toLocaleString('vi-VN', { style:'currency', currency:'VND'});
            } else {
                totalCell.textContent = "0";
            }
        });

        form.querySelector(".tongTien").textContent = totalDichVu.toLocaleString('vi-VN', { style:'currency', currency:'VND'});
        form.querySelector("#tongTien").value = totalDichVu;
    }

    // Trước khi submit form, gom dữ liệu dịch vụ vào hidden input
    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', function(e){
            var ids = [], quantities = [], prices = [];
            form.querySelectorAll('tbody tr').forEach(row => {
                var checkbox = row.querySelector('.checkbox');
                if(checkbox.checked){
                    var id = row.dataset.id;
                    var quantity = row.querySelector('.quantity').value;
                    var price = checkbox.getAttribute('data-gia');
                    ids.push(id);
                    quantities.push(quantity);
                    prices.push(price);
                }
            });
            form.querySelector('input[name="selectedServiceIds"]').value = ids.join(',');
            form.querySelector('input[name="selectedQuantities"]').value = quantities.join(',');
            form.querySelector('input[name="servicePrice"]').value = prices.join(',');
        });
    });


</script>